* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0F2027; 
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  color: aliceblue;
  margin-bottom: 50px;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: relative;
  left: -100px;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 460px;
  opacity: 0;
  transition: 0.5s;
}

section img.active {
  left: 0;
  opacity: 1;
}

section .reveal {
  position: relative;
  color: #fff;
  font-size: 2.5em;
  padding: 0 10px;
  font-weight: 500;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}

section .reveal.active {
  transform: scaleX(1);
  transition-delay: 0s;
}


section .reveal.active:before {
  transform: scaleX(0);
  transition-delay: 0.5s;
}


section .reveal:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e02bff;
  transform-origin: right;
  transition: 0.5s;
  transition-delay: 0s;
}

section .reveal:nth-child(2) {
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 5px;
}

section .reveal:nth-child(2)::before {
  background: #ffeb3b ;
}


#btn {
  justify-content: center;
  display: grid;
  margin-bottom: 100px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 17px 30px;
  background-color: #393e32;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.5s;
}

.btn:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: #80c5d4;
  z-index: -1;
  transition: all ease 0.5s;
}


.btn:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  background-color: #d4809e;
  z-index: -1;
  transition: all ease 0.5s;
}

.btn:hover {
  background-color: #80c5d4;
}

.btn:hover::before {
  top: -10px;
  left: -10px;
  background-color: #282e32;
}

.btn:hover::after {
  top: 10px;
  left: 10px;
}


.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: 50% 50% no-repeat;
  background-size: cover;

}

.rgbKineticSlider canvas {
  position: absolute;
  display: block;
  top: 0 !important;
  left: 0 !important;
  transform: scale(1) !important;
}

nav a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50vh;
  z-index: 1;
  padding: 9px 27px;
  font-family: poppins;
  font-size: 15px;
  overflow: hidden;
}

nav a:hover,
nav a:focus {
  color: #fff;
  outline: none;
}

nav span {
  position: absolute;
  width: 80%;
  height: 50%;
  background-color: #fff;
  display: block;
  margin-top: 8px;
  transition: width 0.3s ease;
}

nav a:hover span {
  width: 0;
}

nav a.next {
  right: 10vw;
}

nav a.prev {
  left: 10vw;
}

@media screen and (max-width:840px) {
  nav a {
    top: auto;
    bottom: 3rem;
  }


}